[Unit]
Description=Phone screening
After=syslog.target
[Service]
ExecStart=/usr/bin/python /root/phone/phone.py
Restart=on-abort
[Install]
WantedBy=multi-user.target
